<div class="form-group">
    <label>Title</label>
    {{input "note-title" this.title class="input-control"}}
</div>

<div class="form-group">
    <label>Description</label>
    {{textarea "note-description" this.description class="input-control" rows="10"}}
</div>

<div class="form-group">
    <label>Importance</label>
    <div style="min-width: 5em; flex-grow: 0;">
        {{#times 5}}
            <input id="importance{{this}}" type="radio" class="importance-radio" name="note-importance"
                   data-importance="{{this}}" {{#ifCond ../importance '==' this}}checked{{/ifCond}}>
            <label for="importance{{this}}" class="fa fa-bolt"></label>
        {{/times}}
    </div>
</div>

<div class="form-group">
    <label>Due Date</label>
    {{input "note-duedate" this.dueDate type="date" class="input-control"}}
</div>

<div class="form-group">
    <label>&nbsp;</label>
    <button id="save-detail">Save</button>
    <button id="cancel-detail">Cancel</button>
</div>